# data
.eggs
*.png
*.pdf

*.pyc
*py~
*~
*.egg-info

# Mac related stuff
.DS_Store

# Packaging builds
build/
dist/

# tox
.tox/

# coverage
.coverage*
coverage.xml

# test venv
test_venv/

# doc
doc/build
doc/source/generated
doc/source/examples

# reports
reports

# examples
examples/.ipynb_checkpoints/

# Node
node_modules
package-lock.json
