#Requirements for TNS
#These requirements are assumed installed in the system.
# matplotlib>=1.3.1
# neurom
# tmd

#These can be installed with pip if necessary.
enum34>=1.0.4
scipy>=0.13.3
numpy>=1.8.0
